p {
    font: normal;
    color: black;
}
h1 {
    color: yellow;
    font: 10px;
    background-color: royalblue;
    width: 50%;
    text-align: center;
}
div {
    width: 300px;
    border: 25px solid royalblue;
    padding: 25px;
    margin: 25px;
}
#header {
    text-align: center;
    width: 500px;
}
#toufu {
    color: royalblue;
    font: 20px;
    background-color: yellow;
    float: left;
}
#dimsum {
    color: royalblue;
    background-color: yellow;
    font: 20px;
    float: left;
}
#dumplings {
    color: royalblue;
    background-color: yellow;
    font: 20px;
    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}